In [94]:
import yfinance as yf
from datetime import datetime

%matplotlib inline

Kiểm tra mức tăng cổ phiếu trong vòng 10 năm của Tesla.

In [95]:
end = datetime.now()
start = datetime(end.year - 10, end.month, end.day)

TSLA = yf.download('TSLA', start, end)

TSLA['Company'] = 'Tesla'
df = TSLA.copy()
df.sample(10)
df.to_pickle('df.pkl')

[*********************100%%**********************]  1 of 1 completed

In [96]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2.516000e+03
mean,94.738695,96.818477,92.494570,94.709323,94.709323,1.132344e+08
std,108.774611,111.195230,106.094467,108.676365,108.676365,7.546374e+07
min,9.366667,9.800000,9.111333,9.289333,9.289333,1.062000e+07
25%,15.807500,16.130834,15.551000,15.873167,15.873167,6.643185e+07
50%,21.907333,22.302667,21.547334,21.954000,21.954000,9.323365e+07
75%,200.726662,206.042503,196.745834,201.578339,201.578339,1.323710e+08
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2014-01-13 to 2024-01-10
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2516 non-null   float64
 1   High       2516 non-null   float64
 2   Low        2516 non-null   float64
 3   Close      2516 non-null   float64
 4   Adj Close  2516 non-null   float64
 5   Volume     2516 non-null   int64
 6   Company    2516 non-null   object
dtypes: float64(5), int64(1), object(1)
memory usage: 157.2+ KB

Predict stock in next time of Tesla