## I. Import library
---

In [1]:
import yfinance as yf
from datetime import datetime

%matplotlib inline

## II. Preprocessing data
---

I want to analyze the stock of Tesla in the nearest 10 years. So, I will collect all data about Tesla's stock from 2014 to 2024.

In [5]:
end = datetime.now()
start = datetime(end.year - 10, end.month, end.day)

TSLA = yf.download('TSLA', start, end)

TSLA['Company'] = 'Tesla'
df = TSLA.copy()
df.to_pickle('df.pkl')
df.sample(10)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Company
Date,,,,,,,
2023-09-29,250.000000,254.770004,246.350006,250.220001,250.220001,128346200,Tesla
2020-03-17,29.334000,31.456667,26.400000,28.680000,28.680000,359919000,Tesla
2020-04-03,33.966667,34.366001,31.226000,32.000668,32.000668,338431500,Tesla
2017-01-27,16.758667,16.866667,16.568001,16.863333,16.863333,47494500,Tesla
2015-03-19,13.466667,13.639333,12.968667,13.043333,13.043333,127128000,Tesla
2022-03-22,310.000000,332.619995,307.250000,331.326660,331.326660,105868500,Tesla
2021-05-06,226.919998,227.006668,216.666672,221.179993,221.179993,83353800,Tesla
2018-05-07,19.833332,20.397333,19.677999,20.184668,20.184668,130173000,Tesla
2019-08-14,15.414000,15.433333,14.446000,14.641333,14.641333,143439000,Tesla
2021-03-23,225.256668,225.933334,219.169998,220.720001,220.720001,91475700,Tesla

**Note:** Reviewing the content of our data, we can see that the data is numeric and the date is the index of the data. Notice also that weekends are missing from the records.

In [3]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2.517000e+03
mean,94.792660,96.871759,92.547361,94.761970,94.761970,1.132313e+08
std,108.786688,111.205264,106.106441,108.686864,108.686864,7.544888e+07
min,9.366667,9.800000,9.111333,9.289333,9.289333,1.062000e+07
25%,15.810000,16.132668,15.551333,15.873333,15.873333,6.643230e+07
50%,21.907333,22.310667,21.548000,21.968000,21.968000,9.324980e+07
75%,200.736664,206.199997,197.003326,201.623337,201.623337,1.323532e+08
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2517 entries, 2014-01-13 to 2024-01-11
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2517 non-null   float64
 1   High       2517 non-null   float64
 2   Low        2517 non-null   float64
 3   Close      2517 non-null   float64
 4   Adj Close  2517 non-null   float64
 5   Volume     2517 non-null   int64
 6   Company    2517 non-null   object
dtypes: float64(5), int64(1), object(1)
memory usage: 157.3+ KB

**Note:** We consider any null value as having no value, so there is no need to process our dataset.